en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
googletrans==4.0.2
neo4j==6.1.0
numpy
opencv-python==4.13.0.92
pdf2image==1.17.0
pdfplumber==0.11.9
pillow>=10.2.0,<11.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
spacy==3.8.11
tenacity==9.1.4
tqdm==4.67.3
orjson>=3.11.7
pandas>=2.3.3
surya-ocr==0.7.0
pymupdf==1.24.11
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
rapidfuzz>=3.0.0
jellyfish>=1.0.0
sentence-transformers>=2.7.0